.addProTitle {
  text-align: center;
  font-family: "Rye", cursive;
  color: crimson;
}

@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

.updateShipmentPage {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/Detect\ OP.png");
  /* background-blend-mode: screen; */
  background-repeat: no-repeat;
  /* background-size: 100vw 115vh; */
  background-color: black;
  background-size: cover;
  background-blend-mode: screen;
}

h3,
label {
  color: rgb(21, 2, 130);
  opacity: 90%;
}

.updateShipment {
  position: absolute;
  top: 25%;
  right: 10%;
}

.updateShipment .auth-inner {
  background-image: url("../images/paper.png");
  background-size: 38em;
  background-position: -42px -55px;
  background-color: transparent;
  height: 38em;
  width: 33em;
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: -6.5em;
}

.logTitle {
  text-align: center;
  font-family: "Rye", cursive;
  color: crimson;
}

.orr {
  text-align: center;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(31, 1, 89);
  outline: none;
}

.butn {
  width: 100%;
}
